__pycache__
.vscode

running_log
private_key
server_log

*/migrations/*
!*/migrations/__init__.py

*.sqlite3*
.idea

# Local artifacts that should never be committed
gputasker/
gputasker-ops/
gputasker-ops-1/
mysql/
static_collected/
gpu_tasker/task_info.log
running_log_backup_*.tar.gz
nginx/log/
uwsgi/log/
running_log/*

private_key/*
server_log/*