{% extends "admin/base_site.html" %}
{% load i18n %}

{% block content %}
<div id="content-main">
  <h1>{{ title }}</h1>

  <form method="post">
    {% csrf_token %}

    <div class="module">
      <h2>目标分组</h2>
      {{ form.as_p }}
    </div>

    {% for obj in objects %}
      <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk }}" />
    {% endfor %}
    <input type="hidden" name="action" value="{{ action_name }}" />
    <input type="hidden" name="apply" value="1" />

    <div class="submit-row">
      <input type="submit" value="{% trans 'Apply' %}" class="default" />
      <a href="/admin/task/gputask/#/admin/task/gputask/" class="button cancel-link">{% trans 'Cancel' %}</a>
    </div>

    <div class="module">
      <h2>将被移动的任务</h2>
      <ul>
        {% for obj in objects %}
          <li>{{ obj }}</li>
        {% endfor %}
      </ul>
    </div>
  </form>
</div>
{% endblock %}
